* {
  margin: 0;
}

.app__header {
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app {
  background-color: #fafafa;
}

.post__header {
  display: flex;
  align-items: center;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__postsright{
  margin-left: 20px;
}